data/contributors/affiliation_and_consent_for_the_brainhack_neuroview_preprint_raw.tsv
data/contributors/neuroview/*source*

token.txt

# virtual env
brainhack/*
env/
venv/

# vs code stuff
.vscode

# figures in html
_sites.html
_labels.html

# working with files
.~*.csv#

# python
__pycache__/
.ipynb_checkpoints

# jupyter book
*_files
*build
