brainhack_book/_build
brainhack_book/preprint_acknowledgments.md
brainhack_book/preprint_contributors.md
brainhack_book/contributors.md
brainhack_book/acknowledgments.md
data/contributors.tsv
data/preprint_contributors.tsv

# virtual env
brainhack/*

