name: deploy book

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-book:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      # Checks that the schemas are valid
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -r requirements.txt

      - name: Python info
        run: |
          python --version
          pip list

      - name: Build Book
        run: |
          make all

      - name: Deploy book on push
        if: ${{ success() && github.event_name == 'push' }}
        uses: peaceiris/actions-gh-pages@v3.9.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./brainhack_book/_build/html
