name: test book

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-book:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      # Checks that the schemas are valid
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -r requirements.txt

      - name: Python info
        run: |
          python --version
          pip list

      - name: Test Book
        run: |
          make test
